<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>{{ .message }}</h1>

      <p><a href="/">Login again</a></p>
    </div>
  </body>
</html>
